{% load static %}

<link rel="manifest" href="/manifest.json">
<link rel="apple-touch-icon" href="{% static 'Imagenes/favicons/apple-icon-57x57.png' %}" sizes="57x57">
<link rel="apple-touch-icon" href="{% static 'Imagenes/favicons/apple-icon-60x60.png' %}" sizes="60x60">
<link rel="apple-touch-icon" href="{% static 'Imagenes/favicons/apple-icon-114x114.png' %}" sizes="114x114">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/android/android-launchericon-72-72.png' %}" sizes="72x72">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/ios/ios-appicon-76-76.png' %}" sizes="76x76">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/ios/ios-appicon-120-120' %}" sizes="120x120">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/android/android-launchericon-144-144.png' %}" sizes="144x144">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/ios/ios-appicon-152-152.png' %}" sizes="152x152">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/ios/ios-appicon-180-180.png' %}" sizes="180x180">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/android/android-launchericon-192-192.png' %}" sizes="192x192">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/chrome/chrome-favicon-16-16.png' %}" sizes="16x16">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/firefox/firefox-general-32-32.png' %}" sizes="32x32">
<link rel="apple-touch-icon" href="{% static 'images/AppImages/android/android-launchericon-96-96.png' %}" sizes="96x96">
<meta name="theme-color" content="#0277BD">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Siiom">
<meta name="apple-mobile-web-app-status-bar-style" content="default">