<div class="card">
    <div class="card-body">
        <h4 class="card-title p-20 m-0">Card title</h4>

        <iframe width="100%" height="315" src="https://www.youtube.com/embed/LK8WJEufbeU" frameborder="0"
            allowfullscreen></iframe>
        <div class="m-t-10 m-b-10 p-l-20 p-r-20">24 Marzo 2020</div>
        <p class="p-l-20 p-r-20 p-b-20">
            Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Lorem
            ipsum
            dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio
            dui. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi recusandae quam fugit perferendis,
            rerum reprehenderit enim nostrum atque earum. Fuga assumenda ad suscipit. Nisi nulla corporis iusto, rem
            natus et?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum accusamus autem tempore vel nemo quaerat eum, unde libero provident dolorum assumenda voluptatibus quia quibusdam, repudiandae perferendis temporibus explicabo nihil cupiditate!
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptas iusto est quaerat nesciunt maiores unde molestias, soluta atque eligendi cumque facilis officia nulla ullam veritatis. Eligendi dolor amet labore.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nemo ratione id odio eligendi labore, doloremque amet explicabo necessitatibus magnam quas cum reprehenderit neque in libero? Voluptatem architecto officia aspernatur.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, omnis. Quisquam suscipit doloribus rerum blanditiis reprehenderit veniam! Fuga voluptate incidunt, modi magnam cum, molestias porro dolorum perspiciatis voluptatem quas tenetur.
        </p>
    </div>
</div>